body {
    font-size: medium;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: rgb(23, 23, 23);
    width: 350px;
    margin: 10px;
    color: rgb(232, 232, 232);;
    box-sizing: border-box; 
}

h2{
    text-align: center;
}

p{
    text-align: left;
    margin-left: 10px;
    font-size:smaller;
    margin-bottom: 0px ;
}

.blocked-list {
    list-style-type: none;
    padding: 0;
    flex-grow: 1;
    height: 90px;
    overflow-y: auto; 
    border-radius: 15px;
    margin-top: 10px;
    margin-right: 10px;
}

::-webkit-scrollbar{
    width: 8px; 
    height: 8px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: #901030; 
    border-radius: 8px; 
    border: 2px solid transparent; 
    background-clip: content-box; 
}

::-webkit-scrollbar-thumb:hover {
    background-color: #6f0f27; 
}

.blocked-list li {
    size: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2px 6px;
    color: rgb(232, 232, 232);
    font-size: 16px;
}
  
.delete-btn {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

.delete-btn:hover {
    opacity: 0.8; 
  }

.blocked-list li:last-child {
    border-bottom: none;
}

.bottom-buttons {
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
    padding-bottom: 10px;
    height: 35px;
}
  
.bottom-buttons button {
    flex: 1;
    font-size: 14px;
    color: black;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-weight: bold;
    margin: 0 5px;
}
  
.bottom-buttons button:hover {
    opacity: 0.9;
}

.alert {
    display: none;
    position: fixed;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40%;
    height: 10%;
    background-color: rgb(232, 232, 232);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 10px; 

    justify-content: center;
    align-items: center; 
}

.alert p {
    color: black;
    font-weight: 600;
    margin: 0;
    text-align: center; 
}
